footer{
    margin: auto;
    text-align: center;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.37);
    margin-bottom: 1%;
}

footer img{
    width: 8%;
}
@media screen and (min-width:768px){
    footer img{
        width: 4%;
    }
}

@media screen and (min-width:1024px){
    footer img{
        width: 3%;
    }
}
