/* colors */
$color1:  rgb(27, 22, 31); 
$color1-variant:  rgba(64, 57, 71, 0.548); 
$color2: rgb(245, 245, 245);

/* sizes */

$size1: 8rem;
$size2: 20rem;

/* fonts */
$font-style1: 'Montserrat', sans-serif;