@import "./variables";

@mixin format{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

@mixin container1{
    background-color: $color1-variant;
    width: 100%;
    padding: 1rem;
    border: 2px solid $color2;
    border-radius: 20px;
    margin-bottom: 1rem;
    color:$color2;
}

@mixin container2{
    background-color: $color2;
    width: 100%;
    padding: 1rem;
    border: 2px solid $color1;
    border-radius: 20px;
    margin-bottom: 1rem;
    color:$color1;

}

@mixin contenido-doscolumnas {
    text-align: center;
    display: inline-block;
    width: 49%;
}