@import "./sass/mixins.scss";
@import "./sass/variables";
@import "./sass/header";
@import "./sass/main";
@import "./sass/footer";

*{
    @include format;
}


body{
    background-image: url(./img/fondo3.gif);
    background-repeat: round;
    background-color: $color1;
}