@import "./sass/mixins.scss";
@import "./sass/variables";
@import "./sass/header";
@import "./sass/main";
@import "./sass/footer";

*{
    @include format;
}

#background{
     width: 100%; 
     height: 100%; 
     position: fixed; 
     left: 0px; 
     top: 0px; 
     z-index: -1;
}
.stretch{
    width: 100%;
    height: 100%;
}
body{
    background-color: $color1;
}