@import "./variables";

 //Distribucion de contenido 

.cabecera{
    width: 100%;
    height: 44px;
    background-color: $primary-color;
    display: flex;
    padding: $padding-size-2 0;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    color: $secondary-color;
    z-index: 100;
}

// Ajustes del menú hamburguesa y logo 

.logo-container{
    margin: auto;
    display: flex;
    align-items: center;
    margin-left: 16px;
    font-size: 30px;
    font-family: $font-family-1;
    width: 210px;
    height: 30px;
}

.initial-letter{
    z-index: 200;
    position: absolute;
}


.l2{
    margin-left: 10px;
}

.logo-container:hover{
    cursor:pointer;
    
    
    .l2{
        margin-left: 114px;
    }

    .complete-text-logo{
        opacity: 100;
        letter-spacing: -1px;
        text-shadow: 0 0 10px $terciary-color;
        font-weight: 500;

    }

    .initial-letter{
        opacity: 0;
    }

}

.complete-text-logo{
    position: absolute;
    letter-spacing: -10px;
    opacity: 0;

}
.check{
    display: none;
}

.boton{
    display: block;
    width: 36px;
    height: 24px;
    margin-right: 12px;
    cursor: pointer;
    position: relative;
}


.boton:before, .boton:after {
    position:absolute;
    display:block;
    content:" ";
    width: calc(100% / 2);               
    box-sizing: border-box;
    left: calc(100% / 4);
    transition: all 0.2s ease-out;
}

.boton:before{
    top: calc(100% / 4);
    height:30%;
    border-top:2px solid $secondary-color;
    border-bottom:2px solid $secondary-color;
    background-color: transparent;
}

.boton:after {
    height: 2px;
    background-color:$secondary-color;
    bottom:calc(100% / 4);
}


// Menu desplegable 

.menu-pestaña{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 224px;
    margin-top: 6px;
    padding: $padding-size-1;
    background-color: $primary-color;
    border-radius: 30px;
    border-color: $terciary-color;
    border-width: 1px;
    border-style: solid;
    z-index: 100;
    animation-name: despliegue;
    animation-duration: 0.5s;
}

.menu-pestaña a{
    display: none;
    color: $secondary-color;
    font-family: $font-family-2;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
}

//Menu desplegable al pulsar sobre el boton 

.check:checked ~ .menu-pestaña {
    display: flex;
}

.check:checked ~ .menu-pestaña a {
    display: block;
}

// Animación de pestaña  

@keyframes despliegue {

    0%{
        height: 0px;
        opacity: 0%;
    }

    100%{
        height: 224px;
        opacity: 100%;
    }
}

// Comportamiento del menú hamburguesa al pulsar 

.check:checked + .boton:before, .check:checked + .boton:after {
    top: 50%;
    height: 2px;
    border-bottom:0;
}

.check:checked + .boton:before{
    transform: rotate(45deg);
}

.check:checked + .boton:after {
    transform: rotate(-45deg);
}

// Comportamiento de los enlaces al pulsar

.menu-pestaña a:active{
    transition: all 0.2s ease-in-out;
    color: $terciary-color;
    text-shadow: 0 0 10px $primary-color;
}




// DESKTOP

@media screen and (min-width:1220px) {

    .cabecera{
        height: 80px;
    }

    .logo-container{
        width: 36px;
        margin-left: 100px;
        padding-top: 20px;

    }

    .boton{
        display: none;
    }

    .menu-pestaña{
        display: flex;
        flex-direction: row ;
        background-color: $primary-color;
        width: 40%;
        height: 80%;
        justify-content: center;
        border-color: transparent;
        
    }

    .menu-pestaña a{
        display: block;
        color: $secondary-color;
        margin-left: 30px;
        font-weight: 400;
    }

    // Comportamientos HOVER y ACTIVE

    .menu-pestaña a:hover, .menu-pestaña a:active{
        font-weight: 500;
        cursor: pointer;
        
    }

    .menu-pestaña a:hover{
        transition: all 0.2s ease-in-out;
        color: $terciary-color;
        text-shadow: 0 0 10px $primary-color;
    }

    .menu-pestaña a:active{
        color: $active-color;
    }

}