main{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
}

.presImg{
    height: 100%;
    width: 100%;
}

.carousel{
    width: 80%;
    position: unset;
}