@import "./sass/mixins";
@import "./sass/variables";

*{
    @include format-document;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: auto ;
    width: 100%;
    background-color: $primary-color;
}

@import "./sass/header";